function Card.new 0
push constant 2
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push pointer 0
return
function Card.getNum 0
push argument 0
pop pointer 0
push this 0
return
function Card.getSuit 0
push argument 0
pop pointer 0
push this 1
return
function Card.DisplayCard 3
push argument 0
pop pointer 0
push constant 0
call Draw.border 1
pop temp 0
push this 0
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 641
call Draw.six 1
pop temp 0
label IF_FALSE0
push this 0
push constant 1
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 641
call Draw.seven 1
pop temp 0
label IF_FALSE1
push this 0
push constant 2
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 641
call Draw.eight 1
pop temp 0
label IF_FALSE2
push this 0
push constant 3
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 641
call Draw.nine 1
pop temp 0
label IF_FALSE3
push this 0
push constant 4
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push constant 641
call Draw.ten 1
pop temp 0
label IF_FALSE4
push this 0
push constant 5
eq
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push constant 641
call Draw.jack 1
pop temp 0
label IF_FALSE5
push this 0
push constant 6
eq
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push constant 641
call Draw.queen 1
pop temp 0
label IF_FALSE6
push this 0
push constant 7
eq
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push constant 641
call Draw.king 1
pop temp 0
label IF_FALSE7
push this 0
push constant 8
eq
if-goto IF_TRUE8
goto IF_FALSE8
label IF_TRUE8
push constant 641
call Draw.ace 1
pop temp 0
label IF_FALSE8
push this 1
push constant 0
eq
if-goto IF_TRUE9
goto IF_FALSE9
label IF_TRUE9
push constant 2369
call Draw.hearts 1
pop temp 0
label IF_FALSE9
push this 1
push constant 1
eq
if-goto IF_TRUE10
goto IF_FALSE10
label IF_TRUE10
push constant 2369
call Draw.spades 1
pop temp 0
label IF_FALSE10
push this 1
push constant 2
eq
if-goto IF_TRUE11
goto IF_FALSE11
label IF_TRUE11
push constant 2369
call Draw.cross 1
pop temp 0
label IF_FALSE11
push this 1
push constant 3
eq
if-goto IF_TRUE12
goto IF_FALSE12
label IF_TRUE12
push constant 2369
call Draw.diamonds 1
pop temp 0
label IF_FALSE12
push constant 2000
call Sys.wait 1
pop temp 0
call Screen.clearScreen 0
pop temp 0
push constant 0
return
function Card.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
